{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
    <h1 style="text-align:center;">Hi Mary!
    </h1>
    <p class="lead" style="text-align:center;"><small>Welcome to your website :) it's nice to have you back here</small>
    </p>
    <div class="card-group">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <div class="card text-center">
                <a href="#" class="btn btn-outline-dark">Activities</a></div>
            <br><br />
            <p class="card-text">For fun, research, seminars, proyects for CS, etc.</p>
            <p class="card-text"><small class="text-muted">Last update: 20/02</small></p>
          </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <div class="card text-center">
                <a href="#" class="btn btn-outline-dark">Academics</a></div>
            <br><br />
            <p class="card-text">All about school and college, courses and my grades.</p>
            <p class="card-text"><small class="text-muted">Last update: 20/02</small></p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <div class="card text-center">
                <a href="#" class="btn btn-outline-dark">Upcoming</a>
            </div>
            <br><br />
            <p class="card-text">Deadlines and stuff coming up that I need to do.</p>
            <p class="card-text"><small class="text-muted">Last update: 20/02</small></p>
          </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <div class="card text-center">
                    <a href="#" class="btn btn-outline-dark">Hobbies</a>
            </div>
              <br><br />
              <p class="card-text">Things I'm interest in and would like to spend time on.</p>
              <p class="card-text"><small class="text-muted">Last update: 20/02</small></p>
            </div>
        </div>
      </div>
{% endblock %}